DJANGO_SETTINGS_MODULE=backend.settings.local
SECRET_KEY="secret key"
POSTGRES_DB=trucker_router
POSTGRES_USER=postgres
POSTGRES_PASSWORD=securepassword
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0